# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CODES(daima)\design-pattern-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
